video {

  object-fit: cover;

  width: 100vw;

  height: 100vh;

  position: fixed;

  top: 0;

  left: 0;

  z-index: -1;

}

.App {

  background-color: rgba(240, 240, 240, 0.4);

}


.container {
  display: flex;
  justify-content: center;
}

.search {
  width: 80%;
  padding: 12px 24px;
  background-color: rgba(247, 248, 247, 0.938);
  color: #575756;
  font-style: italic;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  }
  
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

li {
  background-color: #ddd6e8;
  padding: 10px;
  margin: 10px;
  list-style-type: none;

}

h1, h2, ul, {
  font-family: 'Open Sans', sans-serif;
  
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

  button {
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background-color: #e1e4e0;
    }